<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>羽辰智慧林业二三维一体化应用系统</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="${res}/dist/css/mapPublic.css">
  <!-- jQuery  -->
  <script src="${res}/plugins/jQuery/jquery-2.2.3.min.js"></script>
  <script src="${res}/dist/js/map/myUpload.js"></script>

</head>
<body>

<form action="" method="get" id="form_personal">
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="date_add_table">
  <tr>
    <td width="120" class="t_r">头像：</td>
    <td>
        <div id="preview">
            <img id="imghead" width="100%" height="auto" border="0" src="dist/img/map/photo1.png" alt="头像">
        </div>
        <span class="btn upload">上传头像<input type="file" class="upload_pic" id="upload" onchange="previewImage(this)"/></span>
    </td>
  </tr>
  <tr>
    <td width="120" class="t_r">归属公司：</td>
    <td >bluedon</td>
  </tr>
  <tr>
    <td width="120" class="t_r">归属部门：</td>
    <td >bluedon</td>
  </tr>
  <tr>
    <td width="120" class="t_r">姓名：</td>
    <td ><input type="text" name="" id="" class="text" value="系统管理员"/></td>
  </tr>
  <tr>
    <td width="120" class="t_r">电话：</td>
    <td ><input type="text" name="" id="" class="text" value="020-1063-2568"/></td>
  </tr>
  <tr>
    <td width="120" class="t_r">邮箱：</td>
    <td ><input type="text" name="" id="" class="text" value="2@qq.com"/></td>
  </tr>
  <tr>
    <td width="120" class="t_r">手机：</td>
    <td ><input type="text" name="" id="" class="text" value="12345678910"/></td>
  </tr>  
  <tr>
    <td class="t_r">备注：</td>
    <td><textarea name="" id="" cols="30" rows="3" class="text_wid_area">超级用户</textarea></td>
  </tr>
  <tr>
    <td class="t_r">用户类型：</td>
    <td>系统管理员</td>
  </tr>
  <tr>
    <td class="t_r">用户角色：</td>
    <td>系统管理员</td>
  </tr>
  <tr>
    <td class="t_r">上次登录：</td>
    <td>IP:196.182.10.98   时间 :2016年11月6日  星期日  22 : 52 : 27</td>
  </tr> 
<!--   <tr>
   <td class="t_r"></td>
   <td><button type="button" class="btn">保存</button></td>
 </tr> --> 
</table>
</form>

</body>
</html>