<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>羽辰智慧林业二三维一体化应用系统</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="dist/css/mapPublic.css">
  <!-- 弹出框 -->
  <link href="plugins/dialog/dialog.css" rel="stylesheet" type="text/css">
</head>
<body>
<div style="display: block; position: absolute; width: 400px;margin-left:-200px; margin-top:-160px; left: 50%; top: 50%; z-index: 1994;" class="aui_state_focus aui_state_lock">
  <div class="aui_outer">
    <table class="aui_border">
      <tbody>
        <tr>
          <td class="aui_nw"></td>
          <td class="aui_n"></td>
          <td class="aui_ne"></td>
        </tr>
        <tr>
          <td class="aui_w"></td>
          <td class="aui_c">
          <div class="aui_inner">
            <table class="aui_dialog">
              <tbody>
                <tr>
                  <td colspan="2" class="aui_header">
                    <div class="aui_titleBar">
                    <div class="aui_title" style="cursor: move;">消息</div>
                    <a class="aui_close" href="javascript:/*artDialog*/;">×</a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="aui_icon">
                    <div class="aui_iconBg" style="background: url(&quot;https://172.16.5.172/themes/gfbs/js/lib/dialog/icons/question.png&quot;);">  
                    </div>
                  </td>
                  <td class="aui_main" style="width: auto; height: auto;">
                    <div class="aui_content" style="padding: 20px 25px;">是否要删除数据？</div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" class="aui_footer">
                  <div class="aui_buttons">
                  <button class="aui_state_highlight" type="button">确定</button>
                  <button type="button">取消</button>
                  </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          </td>
          <td class="aui_e"></td>
        </tr>
        <tr>
          <td class="aui_sw"></td>
          <td class="aui_s"></td>
          <td class="aui_se" style="cursor: se-resize;"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
