<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>羽辰智慧林业二三维一体化应用系统</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="${res}/dist/css/mapPublic.css">
  <!-- jQuery  -->
  <script src="${res}/plugins/jQuery/jquery-2.2.3.min.js"></script>
</head>
<body>
<form action="" method="get" id="form_id">
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="date_add_table">
  <tr>
    <td width="120" class="t_r">收件人：</td>
    <td colspan="3">系统消息</td>
  </tr>
  <tr>
    <td width="120" class="t_r">发件人：</td>
    <td colspan="3">小林</td>
  </tr>
  <tr>
    <td width="120" class="t_r">消息标题：</td>
    <td colspan="3">XX 安排或调整了项目</td>
  </tr>
  <tr>
    <td width="120" class="t_r">是否重要：</td>
    <td colspan="3"><input type="checkbox" name="checkbox" id="checkbox" /></td>
  </tr>
  <tr>
    <td class="t_r">消息内容：</td>
    <td colspan="3"><textarea name="" id="" cols="70" rows="20"  class="text_wid_area">您好！
XX 安排或调整了项目：xx项目V2.0 的一项任务的责任人。
任务名称：开发第二阶段（xx）\UI设计
责任人员：xx[10%]
审核人员：（无）
任务工期：54 工作日
开始时间：2016-9-12
结束时间：2016-11-30
任务进度：0%
任务描述：（无）


   
此邮件由 xx项目管理软件正式版 自动发送。请勿回复。</textarea></td>
  </tr>
</table>
</form>
</body>
</html>