<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>羽辰智慧林业二三维一体化应用系统</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="dist/css/mapPublic.css">
  <!-- jQuery  -->
  <script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
</head>
<body>
<form action="" method="get" id="form_id">
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="date_add_table">
  <tr>
    <td width="120" class="t_r">位置名称：</td>
    <td ><input type="text" name="textfield2" id="textfield2" class="text" /></td>
  </tr>
  <tr>
    <td class="t_r">停留时间：</td>
    <td><label><input type="text" name="" value="" class="text"><span>秒</span></label></td>
  </tr>
  <tr>
    <td colspan="2" align="center">    
      <label><input type="text" name="" value="" class="text"><button type="button" class="btn">拾取当前位置</button></label>      
    </td>
  </tr>

</table>
</form>
</body>
</html>